.container {
  display: flex;
  margin: 100px auto 0;
  width: 980px;
}

.nav {
  width: 27%;
  min-width: 27%;
}

.content {
  padding: 20px 30px;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .container {
    display: block;
    margin: 0;
    width: auto;
  }

  .nav {
    width: 100%;
  }
}