.container {
  background-color: #000;
  color: #fff;
}

.avatar {
  position: relative;
  height: 300px;
  background: linear-gradient(to top,#000 0%,#c1bdb1 100%);
}

.avatarBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 140px;
  height: 140px;
  border: 12px solid rgba(189, 187, 180, .2);
  border-radius: 50%;
}

.avatarImg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

.list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.listItem {
  position: relative;
  padding: 20px 25px;
  background: linear-gradient(to bottom,#2c383c 0%,#2a363a 100%);
  border-bottom: 1px solid #222b2e;
  text-align: right;
  list-style: none;
  cursor: pointer;
}

.listItemText {
  display: inline-block;
  position: relative;
  padding: 0 12px 0 0;
  font-size: 18px;
}

.listItemIcon {
  position: relative;
}

.listItem::before {
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  right: 0;
  background: #ffd42d;
  transition: all .3s ease-in-out;
  content: '';
}

.listItem:hover {
  color: #2c383c;
}

.listItem:hover::before {
  width: 100% !important;
  content: '';
  transition: all .3s ease-in-out;
}

.activeItem {
  color: #2c383c;
}

.activeItem::before {
  width: 100% !important;
  content: '';
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 767px) {
  .list {
    display: flex;
  }

  .listItem {
    width: 20%;
    text-align: center;
    font-size: 20px;
    border-bottom: none;
  }

  .listItemText {
    display: none;
  }
}

@media print {
  .avatar {
    height: 200px;
  }
  .list {
    display: none;
  }
}